<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <SourceTree.Properties.Settings>
            <setting name="FileStatusFilter" serializeAs="String">
                <value>65278</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>1216.8</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="LogOrdering" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogIncludeRemoteBranches" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="GitWhichOne" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultRepoType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllowModifyConfigFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultFullName" serializeAs="String">
                <value>DESKTOP-PQ3HQ7F\Mark Beck</value>
            </setting>
            <setting name="DefaultEmail" serializeAs="String">
                <value>marc_stefan.beck@student.reutlingen-university.de</value>
            </setting>
            <setting name="LastOpenTabIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SSHClientType" serializeAs="String">
                <value>PuTTY</value>
            </setting>
            <setting name="ProxyServerMode" serializeAs="String">
                <value>OperatingSystem</value>
            </setting>
            <setting name="HgWhichOne" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableGitSupport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableHgSupport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GitCommitMergedChangesImmediately" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowScreenDeviceName" serializeAs="String">
                <value />
            </setting>
            <setting name="FileStatusSort" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="CommitPaneHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GitSystemPath" serializeAs="String">
                <value>C:\Program Files\Git</value>
            </setting>
            <setting name="HgSystemPath" serializeAs="String">
                <value>C:\Users\Mark Beck\AppData\Local\Atlassian\SourceTree\hg_local</value>
            </setting>
            <setting name="LegacyAccountPersistenceServiceLoadEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SidebarIsOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotificationGettingStartedShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreviousCommitMessages" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>fix problem with comments</string>
                        <string>add comments
and delete unneeded AboutUs.css</string>
                        <string>implementing Item.js</string>
                        <string>bug fixing and removing Prozess.css</string>
                        <string>Prozess.js komplett überarbeitet</string>
                        <string>fertigstellung CarouselContainer.js (etwas unsauber)
+ befüllen der "was machen wir?" Seite</string>
                        <string>CarouselContainer.js überarbeitet</string>
                        <string>grober Inhalt für Karussell</string>
                        <string>Karussell implementiert (nur Logik)</string>
                        <string>Merge https://gitlabci.exxeta.com/hsreutlingen/moderne-webtechnologien-ss21

# Conflicts:
#	exercise/react-state-form-events/exercise/src/App.js</string>
                    </ArrayOfString>
                </value>
            </setting>
        </SourceTree.Properties.Settings>
    </userSettings>
</configuration>